.top {
    display: flex;
}
.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    border: solid green 2px;
    padding: 1em;
}
.lists__info {
    flex-grow: 1;
    margin: 2em;
}